/*
Theme Name: somcebarcelones.cat
Theme URL: https://gitlab.com/geraldo1/somcebarcelones.cat
Description: Twenty Twenty Child Theme
Author: Gerald Kogler
Author URL: https://go.yuri.at/
Template: twentytwenty
Version: 1.0.0
Text Domain: twentytwenty-child
*/

.home article header {
    display: none;
}

.home .post-inner {
  padding-top: 0;
}

.home article blockquote {
    text-shadow: 2px 2px 50px white;
    max-width: 78rem;
    margin: 0 auto;
    color: white;
}

.home .wp-block-pullquote {
    background-image: url(/wp-content/uploads/2022/05/solar-barcelona.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 100%;
    width: 100%;
}

.wp-block-group__inner-container,
[class*="__inner-container"] > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 78rem;
}

.fontawesome-text {
    display: none;
}

.fa::before {
    word-break: normal;
    word-wrap: normal;
}

h3 a {
    color: #000000;
}

.post-inner {
    padding-top: 0;
}